@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Medium.woff2") format("woff2"), url("../fonts/Larsseit-Medium.woff") format("woff");
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Bold.woff2") format("woff2"), url("../fonts/Larsseit-Bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts//Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}


body{
	font-family: "Lato";
    font-weight: 400;
}


h1, 
h2 {
	font-family: "Larsseitn";
    font-weight: 700;
    color: darkblue;
}

li {
	font-family: "Larsseitn";
    font-weight: 500;
}

.features {
    font-family: "Roboto";
}

.features span {
    color: chocolate;
}

a {
    color: darkcyan;
}

p {
    color: darkgray;
}

.last {
    color: darkolivegreen;
}

.features a {
    color: darksalmon;
}

